<ul>
  <li *ngFor="let user of userList">
    <app-user-card *ngIf='userCardIsVisible' [userSent]="user" (userSelected)="selectedUser = user"></app-user-card>
  </li>
</ul>

<h1>{{selectedUser?.name}}</h1>

<p (click)='mycolor = "yellow"' [style.color]="mycolor" [attr.data-offset]="offset"
   (mouseover)=" changeColor('purple')">
  sdfasdf
</p>
<input #classInput type="text"/>
<button (click)="changeColor(classInput.value)">Change</button>

<button (click)="showUsercard()">ToggleUserCard</button>



